/*FONT IMPORT*/


/*COLOR VARIABLES*/

body {
    --dark-color: #021016;
    --light-color: #f0f0f0;
    margin: 0;
}


/*MAIN STYLE*/

body {
    font-family: Poppins;
}


/*MENU STYLE*/

menu {
    background-color: var(--dark-color);
    color: var(--light-color);
    margin: 0;
}

menu ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

menu ul li {
    margin: 5px;
}

.div-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    width: 90%;
    margin: auto;
}