menu {
    background-color: var(--light-color) !important;
    color: var(--dark-color) !important;
    margin: 0;
    height: 60px;
    
}

menu ul {
    height: 100%;
}

a {
    color: #000000 !important;
    text-decoration: none;
}




